// Colors
$primary: #1687a7;
$secondary: #ee9595;
$info: #d3e0ea;
$dark: #3f3f44;
$light: #f6f5f5;

$color-contrast-dark: $dark;
$color-contrast-light: $light;

// Body Color
$body-color: $dark;

// Links
$link-decoration: none;

// Containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px,
);

$grid-gutter-width: 1.8rem;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto+Slab:wght@300;500;700&display=swap");
$font-family-sans-serif: "Poppins", sans-serif;
$font-family-base: "Roboto Slab", serif;
$font-size-base: 0.875rem;
$font-weight-normal: 500;

// Spacers
$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 7,
);
