@import "customs";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Headers
h1,
h2,
h3 {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
}

h3,
h4 {
  font-size: $font-size-base;
}

h4 {
  font-family: $font-family-base;
}

p {
  letter-spacing: 1px;
}

// Buttons
.btn {
  &,
  &:active,
  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
}

.btn:not(.btn-link) {
  padding: 0.7rem 2.1rem;
  font-family: $font-family-sans-serif;
  transition: all 0.3s ease-in-out;
  font-weight: $font-weight-normal;
  letter-spacing: 1px;

  &:hover {
    transform: scale(1.08);
  }
}

// main header
.main-header {
  margin-top: 1rem;
  position: relative;
  z-index: 10;
}

// Logo
.logo {
  font-size: 1.75rem; // 28px
}

// Navbar badges
.navbar {
  .cart {
    button {
      &:hover {
        background-color: $light;
        transform: scale(1);
      }
    }
  }

  .badge {
    font-size: 0.75rem;
    padding: 3px 6px;
    right: -5px;
  }
}

// Main Slider
.main__glide {
  position: relative;
  top: -120px;

  h1 {
    font-size: $font-size-base * 3.5;
    line-height: $line-height-base;
  }

  h2 {
    color: $primary;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $light;
    letter-spacing: 1px;
  }

  .glide__slides {
    transform: none !important;
    width: auto !important;
    display: grid;
    grid-template-areas: "slide";
  }

  .glide__slide {
    position: relative;
    opacity: 0;
    transition: opacity 800ms ease;
    grid-area: slide;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    .btn,
    img {
      opacity: 0;
    }
  }

  .glide__slide--active {
    z-index: 10;
    opacity: 1;

    h1,
    h2 {
      animation: fadeInDown 1s forwards;
    }

    p,
    h3,
    h4,
    h5,
    h6 {
      animation: fadeInUp 1s 1s forwards;
    }

    .btn {
      animation: fadeInUp 1s 1s forwards;
    }

    img {
      animation: fadeIn 1s 2s forwards;
    }
  }

  .glide__arrows {
    position: absolute;
    top: 45%;
    width: 100%;
    z-index: 10;

    .glide__arrow {
      color: $dark;
      font-size: 3rem;
      opacity: 0.5;
      position: absolute;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 1;
      }

      &--left {
        left: 0;
      }

      &--right {
        right: 0;
      }
    }
  }
}

// Parallax
.parallax {
  position: absolute;

  &.float-1 {
    height: auto;
    top: 65vh;
    width: 30%;
  }

  &.float-2 {
    height: auto;
    right: 0;
    top: 100vh;
    width: 50%;
  }
}

@media (min-width: 720px) {
  .parallax {
    &.float-1 {
      width: 20%;
      top: 50vh;
    }
    &.float-2 {
      width: 40%;
      top: 80vh;
    }
  }
}
@media (min-width: 960px) {
  .parallax {
    &.float-1 {
      width: 15%;
      top: 65vh;
    }
    &.float-2 {
      width: 30%;
      top: 110vh;
    }
  }
}
@media (min-width: 1400px) {
  .parallax {
    &.float-1 {
      width: 10%;
      top: 65vh;
      left: 100px;
    }
    &.float-2 {
      width: 25%;
      top: 110vh;
    }
  }
}

// Intersection Observer
section.observed {
  opacity: 0;

  &.show {
    opacity: 1;
    animation: customfadeInUp 800ms forwards;
  }

  @keyframes customfadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100px, 0);
      transform: translate3d(0, 100px, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}

// Welcome Section
.welcome {
  margin-bottom: 6rem;
  margin-top: 5rem;

  @media (min-width: 960px) {
    max-width: 80vh;
  }
}

// Products
.product {
  animation: productAppear 0.5s ease-in;
  transition: all 0.3s ease-in;

  &.featured {
    .img-container {
      padding-top: 142.1%;

      @media (min-width: 960px) {
        padding-top: 124.1%;
      }
    }

    .product__buttons {
      button {
        &.favorite {
          color: $secondary;
          opacity: 1 !important;
        }
      }
    }
  }

  .img-container {
    height: 0;
    overflow: hidden;
    padding-top: 120%;
    position: relative;
    border-radius: $border-radius-lg;

    img {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      transition: all 1s ease;
    }
  }

  &:hover {
    .product__buttons {
      button {
        opacity: 1;

        &:not(.favorite) {
          bottom: 5.5rem;
        }
      }
    }

    img {
      transform: scale(1.08);
    }
  }

  &__buttons {
    button {
      opacity: 0;

      &.favorite {
        color: $gray-400;
        transition: all 0.2s;
      }

      &:not(.favorite) {
        background-color: $dark;
        border: none;
        bottom: 4rem;
        left: 50%;
        transition: all 0.5s ease-in-out;

        padding: 5px 9px;
        position: absolute;

        &:before {
          background-color: $light;
          border-radius: $border-radius-sm;
          color: $dark;
          font-size: 0.7rem;
          left: 50%;
          opacity: 0;
          padding: 1px 5px;
          position: absolute;
          pointer-events: none;
          top: -1.8rem;
          transform: translate(-50%, -100%);
          transition: all 0.3s ease-in;
        }

        &:hover {
          background-color: $light;
          color: $dark;

          &:before {
            transform: translate(-50%, 0);
            opacity: 1;
          }
        }

        &.more {
          transform: translate(-115%, 0);

          &::before {
            content: "More";
          }
        }

        &.add-cart {
          transform: translate(15%, 0);

          &::before {
            content: "Add to Cart";
            width: 4.6rem;
          }
        }
      }
    }
  }
}

// Categories
.btn-category {
  color: $gray-400;

  &:hover,
  &.active {
    color: $dark;
    transform: scale(1);
  }
}

// Newsletter
.newsletter {
  background: url("../assets/images/newsletter.jpg") no-repeat 50% 50%;

  .float-3 {
    top: 450px;
  }

  input {
    &:hover,
    &:focus {
      box-shadow: none;
      outline: none;
    }

    &[type="email"] {
      padding-left: 2rem;
    }
  }

  button {
    width: 100%;
  }

  .bi {
    left: 1.5rem;
    top: 0.3rem;
  }
}

// Gallery
.gallery__glide {
  a {
    &:hover {
      span {
        opacity: 0.9;
      }
    }

    span {
      top: -70px;
      opacity: 0;
      transition: all 0.5s ease-out;
    }

    img {
      opacity: 1;
      transition: all 0.5s ease-out;
    }
  }

  .glide__arrow {
    color: $dark;
    opacity: 0.5;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }
}

// Footer {
.main-footer {
  .media-links a {
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  ul a {
    &:hover {
      border-bottom: 2px solid $light;
    }
  }
}
