@import "customs";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Headers
h1,
h2,
h3 {
  font-family: $font-family-sans-serif;
}

h3,
h4 {
  font-size: $font-size-base;
}

h4 {
  font-family: $font-family-base;
}

// Buttons
.btn:not(.btn-link) {
  padding: 0.7rem 2rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.08);
  }
}

// main header
.main-header {
  margin-top: 1rem;
  position: relative;
  z-index: 10;
}

// Logo
.logo {
  font-size: 1.75rem; // 28px
}

// Navbar badges
.navbar {
  .cart {
    button {
      &:hover {
        background-color: $light;
        transform: scale(1);
      }
    }
  }

  .badge {
    font-size: 0.75rem;
    padding: 3px 6px;
    right: -5px;
  }
}

// Main Slider
#main-slider {
  position: relative;
  top: -120px;

  h1 {
    font-size: $font-size-base * 3.5;
  }

  h2 {
    font-family: $font-family-base;
    font-weight: $light;
    font-size: $font-size-base * 1.5;
  }
}

// Parallax
.parallax {
  position: absolute;
}

@media (min-width: 1400px) {
  .float-1 {
    left: 15vh;
    top: 70vh;
  }
  .float-2 {
    right: 0;
    top: 150vh;
  }
}

// Intersection Observer
section {
  opacity: 0;
  pointer-events: none;
  transform: translateY(30px);
  transition: 0.3s ease-in-out;

  &.show {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
}

// Welcome Section
.welcome {
  margin-bottom: 6rem;
  margin-top: 5rem;
  max-width: 40vw;
}

// Products
.product {
  @keyframes productAppear {
    0% {
      opacity: 0;
      transform: translateX(10px);
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  animation: productAppear 0.5s ease-in;
  transition: all 0.3s ease-in;

  &.featured {
    .img-container {
      padding-top: 124.1%;
    }

    .product__buttons {
      button {
        &.favorite {
          color: $secondary;
          opacity: 1 !important;
        }
      }
    }
  }

  .img-container {
    height: 0;
    overflow: hidden;
    padding-top: 120%;
    position: relative;
    border-radius: $border-radius-lg;

    img {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      transition: all 1s ease;
    }
  }

  &:hover {
    .product__buttons {
      button {
        opacity: 1;

        &:not(.favorite) {
          bottom: 5.5rem;
        }
      }
    }

    img {
      transform: scale(1.08);
    }
  }

  &__buttons {
    button {
      opacity: 0;

      &.favorite {
        color: $gray-400;
        transition: all 0.2s;
      }

      &:not(.favorite) {
        background-color: $dark;
        border: none;
        bottom: 4rem;
        left: 50%;
        transition: all 0.5s ease-in-out;

        padding: 5px 9px;
        position: absolute;

        &:before {
          background-color: $light;
          border-radius: $border-radius-sm;
          color: $dark;
          font-size: 0.7rem;
          left: 50%;
          opacity: 0;
          padding: 1px 5px;
          position: absolute;
          pointer-events: none;
          top: -1.8rem;
          transform: translate(-50%, -100%);
          transition: all 0.3s ease-in;
        }

        &:hover {
          background-color: $light;
          color: $dark;

          &:before {
            transform: translate(-50%, 0);
            opacity: 1;
          }
        }

        &.more {
          transform: translate(-115%, 0);

          &::before {
            content: "More";
          }
        }

        &.add-cart {
          transform: translate(15%, 0);

          &::before {
            content: "Add to Cart";
            width: 4.6rem;
          }
        }
      }
    }
  }
}

// Categories
.btn-category {
  color: $gray-400;

  &:hover,
  &.active {
    color: $dark;
    transform: scale(1);
  }
}

// Newsletter
.newsletter {
  background: url("../assets/images/newsletter.jpg") no-repeat 50% 50%;

  .float-3 {
    top: 450px;
  }

  input {
    &:hover,
    &:focus {
      box-shadow: none;
      outline: none;
    }

    &[type="email"] {
      padding-left: 2rem;
    }
  }

  button {
    width: 100%;
  }

  .bi {
    left: 1.5rem;
    top: 0.3rem;
  }
}

// Gallery
.gallery {
  a {
    &:hover {
      span {
        opacity: 0.9;
      }
    }

    span {
      top: -70px;
      opacity: 0;
      transition: all 0.5s ease-out;
    }

    img {
      opacity: 1;
      transition: all 0.5s ease-out;
    }
  }
}

// Footer {
.main-footer {
  .media-links a {
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  ul a {
    &:hover {
      border-bottom: 2px solid $light;
    }
  }
}
